<h1> <%= @election.name %> </h1>
<h3> <%= @election.year %> </h3>

<table
  data-toggle="table"
  data-search="true"
  data-show-columns="true"
  data-mobile-responsive="true"
  >
  <thead>
    <tr>
      <th>Questions</th>
      <th>Candidate 1</th>
      <th>Candidate 2</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
